{{> admin-menu active="admin-dashboard"}}

<section class="section">
    <div class="block">
        <label class="title">Admin Dashboard</label>
        <p> Admin has the power to add and delete City Locations</p>
    </div>
</section>
<section class="section">
    {{> admin-list-location}}
</section>