{{> welcome-menu}}

<div class="columns">
  <div class="column">
    <!-- First Section -->
    <section class="section">
      <img src="/images/png/mainLogo.png" alt="Vacation">
    </section>
  </div>
  <div class="column">
    <!-- Second Section -->
    <section class="section has-text-centered">
      <h1 class="title">Placemark</h1>
      <section>
        <div class="block">
          <p class="is-size-4 has-text-weight-bold">Welcome to our vacation website! Explore top holiday destinations
            worldwide with ease.</p>
        </div>
        <div class="block">
          <p class="is-size-4 has-text-weight-bold">Discover exciting activities, cozy accommodations, and delectable
            dining options at your favorite locations.</p>
        </div>
        <div class="block">
          <p class="is-size-4 has-text-weight-bold">From thrilling adventures to relaxing getaways, we've got everything
            you need for the perfect vacation.</p>
        </div>
      <div class="block">
        <p class="is-size-4 has-text-weight-bold">Sign up or Log in...</p>
      </div>
    </section>
  </div>