<form class="box" action="/location/{{location._id}}/addbusiness" method="POST">
  <label>Enter Business Details:</label>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <input class="input" type="text" placeholder="Enter Title" name="title">
      </div>
<<<<<<< HEAD
      {{!-- <div class="field">
        <div class="control">
          <div class="select is-fullwidth">
            <select name="category" id="categorySelect">
              <option value="" disabled selected>Select Category</option>
            </select>
          </div>
        </div>
      </div> --}}
=======
      <div class="field">
        <div class="control">
          <div class="select">
            <select name="category">
              <option value="" selected disabled>Select Category</option>
              <option value="Accommodation">Accommodation</option>
              <option value="Dining">Dining</option>
              <option value="Shopping">Shopping</option>
              <option value="Nightlife">Nightlife</option>
              <option value="Activities">Activities</option>
            </select>
          </div>
        </div>
      </div>
>>>>>>> add-categories
    </div>
  </div>
  <button class="button is-primary">Add Business</button>
</form>

{{!-- <script>
  import { categories } from "../../utils/categories.js";

  document.addEventListener('DOMContentLoaded', function () {
    const categorySelect = document.getElementById('categorySelect');

    // Populate dropdown menu options with categories
    categories.forEach(category => {
      const option = document.createElement('option');
      option.value = category;
      option.textContent = category;
      categorySelect.appendChild(option);
    });
  });
</script> --}}