<form class="box" action="/location/{{location._id}}/addbusiness" method="POST">
  <label>Enter Business Details:</label>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <input class="input" type="text" placeholder="Enter Title" name="title">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Category" name="category">
      </div>
    </div>
  </div>
  <button class="button is-primary">Add Business</button>
</form>