<section class="section">
    <div class="box">
        <div class="title">
            {{business.title}}
        </div>
        <div class="block">
            Address: {{business.address}}
        </div>
        <div class="block">
            Category: {{business.category}}
        </div>
        <div class="block">
           Description: {{business.description}}
        </div>
    </div>
</section>